<footer class="site-footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="widget">
                        <h4 class="widget-title h6">Recent Post</h4>
                        <div class="content recent-post">
                            {{#get "posts" limit="3"}}
                                {{#foreach posts}}
                                    <div class="recent-single-post have-image">
                                        <a href="{{url}}">
                                            <div class="post-thumb pull-left" style="background-image: url({{image}});"></div>
                                        </a>
                                        <div class="post-info">
                                            <h4 class="post-title">
                                                <a href="{{url}}">{{title}}</a>
                                            </h4>
                                            <div class="date">
                                                <time class="time" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
                                            </div>
                                        </div>
                                    </div>
                                {{/foreach}}
                            {{/get}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="widget">
                        <h4 class="widget-title h6">Tags</h4>
                        <div class="content tagcloud">
                            {{#get "tags" limit="all"}}
                                {{tags separator=""}}
                            {{/get}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-wrap clearfix">
                <div class="social-links-wrap">
                    <ul class="social-links">
                        {{#if @blog.facebook}}<li><a href="http://facebook.com/{{@blog.facebook}}"><i class="icon-facebook"></i></a></li> {{/if}}
                        {{#if @blog.twitter}}<li><a href="http://twitter.com/{{@blog.twitter}}"><i class="icon-twitter"></i></a></li>{{/if}}
                        <li><a href="http://instagram.com/rakshans2"><i class="icon-instagram"></i></a></li>
                        <li><a href="https://github.com/rakshans1"><i class="icon-github"></i></a></li>
                        <li><a href="/rss"><i class="icon-feed"></i></a></li>
                    </ul>
                </div>
                <div class="copyright-info">
                    © {{date format="YYYY"}}. All right Reserved.
                </div>
            </div>
        </div>
    </div>
</footer>
