{{!-- This is the post loop - each post will be output using this markup --}}
{{#foreach posts}}
    <div class="col-sm-6 col-md-4 col-xs-12">
        <article class="post post-card">
            <a href="{{url}}" class="permalink">
                <div class="featured-image" style="background-image: url({{image}});"></div>
            </a>
            <div class="content-wrap">
                <div class="entry-header align-center align-center">
                    <span class="category">
                        {{tags limit="1"}}
                    </span>
                    <h3 class="title h4">
                        <a href="{{url}}">{{title}}</a>
                    </h3>
                </div>
                <div class="post-entry">{{excerpt words="26"}}</div>
                <div class="entry-footer clearfix">
                    <div class="author">
                        <a href="/author/{{author.slug}}" rel="author">
                            {{#if author.image}}<img class="avatar" src="{{author.image}}" alt="{{author.name}}"/>{{/if}}
                            <span class="name">{{author.name}}</span>
                        </a>
                    </div>
                    <div class="published-date">
                        <span class="date"><i class="fa fa-calendar-o"></i></span>
                        <time class="time" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
                    </div>
                </div>
            </div>
        </article>
    </div>
{{/foreach}}