<header class="site-header" id="main-navbar">
    <div class="container">
        <div class="d-flex flex-row justify-content-between">
            <div class="navbar-header">
                <a class="logo image-logo" href="{{@blog.url}}">
                    {{#if @blog.logo}}<img src="{{@blog.logo}}" alt="{{@blog.title}}" />{{else}}{{@blog.title}} {{/if}}
                    
                </a>
            </div>
            <nav class="main-menu hidden-sm-down" id="main-menu">
                <ul>
                    {{#foreach navigation}}
                        <li class="nav-{{slug}}{{#if current}} current-menu-item{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
                    {{/foreach}}
                </ul>
            </nav>
            <div class="nav-right justify-content-end">
                <span class="search-toggle" id="search-button" data-toggle="modal" data-target="#searchmodal">
                    <i class="fa fa-search align-center"></i>
                </span>
                <span class="mobile-menu-toogle hidden-md-up" id="nav-toggle-button">
                    <i class="fa fa-bars align-center"></i>
                </span>
            </div>
            <nav class="mobile-menu hidden-md-up" id="mobile-menu"></nav>
            <div class="backdrop hidden-md-up" id="backdrop">
				<span class="menu-close align-center"><i class="fa fa-arrow-left"></i></span>
			</div>
        </div>
    </div>
</header>
{{> searchmodal}}
<span class="back-to-top pull-right" id="back-to-top" style="display: none;"><i class="fa fa-angle-up"></i></span>