{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The big featured header --}}

{{!-- Everything inside the #author tags pulls data from the author --}}
{{#author}}
    <section class="cover cover-author has-image" {{#if cover_image}} style="background-image: url({{cover_image}}){{else}}no-cover{{/if}}">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="cover-content-wrap align-center">
                        {{#if image}}
                        <div class="avatar-wrap">
                                <img src="{{image}}" alt="{{name}}" class="avatar">
                        </div>
                        {{/if}}
                        <h3 class="author-name">{{name}}</h3>
                        <div class="meta-info">
						<span class="post-count">Total {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</span>
						{{#if bio}}
                        <p class="description">
                            {{bio}}
                        </p>
                        {{/if}}
                        <ul class="author-social">
                            {{#if twitter}}<li><a href="http://twitter.com/{{twitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>{{/if}}
                            {{#if facebook}}<li><a href="http://facebook.com/{{facebook}}" target="_blank"><i class="fa fa-facebook"></i></a></li>{{/if}}
                            {{#if website}}<li class="website"><a href="{{website}}" target="_blank"><i class="fa fa-globe"></i></a></li>{{/if}}
                            {{#if location}}<li class="location" value="0"><i class="fa fa-map-marker"></i>{{location}}</li>{{/if}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{/author}}

{{!-- The main content area on the homepage --}}
<div class="main-content-area">
    <div class="container post-listing">
        <div class="row is-flex">

    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
    {{> "loop"}}

        </div>
    </div>
    {{pagination}}
</div>
