<!DOCTYPE html>
<html>
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Page Meta --}}
    {{#is "index, tag, author"}} {{!-- Meta for index, tag and author contexts --}}
		{{#is "index"}}
		<title>{{@blog.title}}</title>
		<meta name="description" content="{{@blog.description}}"/>
		<meta itemprop="name" content="{{@blog.title}}"/>
		{{/is}}
		{{#is "tag"}}
		<title>{{tag.name}} — {{@blog.title}}</title>
		<meta name="description" content="{{@blog.description}}"/>
		<meta itemprop="name" content="{{tag.name}} — {{@blog.title}}"/>
		{{/is}}
		{{#is "author"}}
		<title>Posts by {{author.name}} — {{@blog.title}}</title>
		<meta name="description" content="{{@blog.description}}"/>
		<meta itemprop="name" content="Posts by {{author.name}} — {{@blog.title}}"/>
		{{/is}}
		<meta itemprop="description" content="{{@blog.description}}"/>
		{{#if @blog.cover}}
		<link rel="image_src" href="{{@blog.cover}}"/>
		<meta itemprop="image" content="{{@blog.cover}}"/>
		{{/if}}
		{{/is}} {{!-- End of index, tag and author contexts --}}
		{{#is "post, page"}} {{!--  Meta for post and page contexts --}}
		<title>{{meta_title}} — {{@blog.title}}</title>
		<meta itemprop="name" content="{{meta_title}} — {{@blog.title}}"/>
		{{#if post.meta_description }}
		<meta name="description" content="{{meta_description}}"/>
		<meta itemprop="description" content="{{meta_description}}"/>
		{{else}}
		{{#post}}
		<meta name="description" content="{{excerpt words="27"}}…"/>
		<meta itemprop="description" content="{{excerpt words="27"}}…"/>
		{{/post}}
		{{/if}}
		{{#post}}
		{{#if image}}
		<link rel="image_src" href="{{image}}"/>
		<meta itemprop="image" content="{{image}}"/>
		{{else}}
		{{#if @blog.cover}}
		<link rel="image_src" href="{{@blog.url}}{{@blog.cover}}"/>
		<meta itemprop="image" content="{{@blog.url}}{{@blog.cover}}"/>
		{{/if}}
		{{/if}}
		{{/post}}
		{{/is}} {{!--  End of post and page contexts --}}

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{asset "/favicon.ico"}}">

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" />


    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
    <script>
        //  1. Disqus comment settings
        var disqus_shortname = "rakshanshetty"; // required: replace example with your forum shortname
        //  2. Fixed navbar
        var fixed_navbar = true;
    </script>
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    {{!-- The blog navigation links --}}
    {{navigation}}

    <div class="site-wrapper">

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

        {{!-- The tiny footer at the very bottom --}}
        {{> footer}}
    </div>

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    {{!--<script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>--}}
    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
    {{!-- Fitvids makes video embeds responsive and awesome --}}
    {{!--<script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>--}}
    {{!-- The main JavaScript file for solar --}}
    <script type="text/javascript" src="{{asset "js/bundle.js"}}"></script>
    {{!--<script type="text/javascript" src="http://localhost:8000/bundle.js"}}"></script>--}}

</body>
</html>
