{{!< default}}

{{!-- The comment above "< default" means - insert everything in this file into
    the {{{body}}} of the default.hbs template, containing the blog header/footer. --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
<div class="main-content-area single-post">
    <article>
        <div class="post-head" {{#if image}}style="background-image: url({{image}}){{else}}no-cover{{/if}}">
            <div class="container align-center">
                <div class="row">
                    <div class="offset-md-1 col-md-10">
                        <span class="category">
                            {{tags}}
                        </span>
                        <h1 class="title">{{title}}</h1>
                        
                        <div class="post-meta">
                            <a class="author" href="/author/{{author.slug}}" rel="author">
                                <span class="name">{{author.name}}</span>
                            </a>
                            <time class="time" datetime="{{date format="DD MMMM YYYY"}}" itemprop="datePublished">{{date format="DD MMMM YYYY"}}</time>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<script>
				  (adsbygoogle = window.adsbygoogle || []).push({
				    google_ad_client: "ca-pub-5806305554193135",
				    enable_page_level_ads: true
				  });
				</script>
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="post-content {{post_class}}">{{content}}</div>
                    {{> share}}
                    {{#author}}
                    {{> author}}
                    {{/author}}
                    {{#if @labs.subscribers}}
                    {{> subscribe}}
                    {{/if}}
                    {{> comment}}
                    {{> prevnext}}
                </div>
            </div>
        </div>
    </article>
</div>
{{/post}}
